/* Blog-specific code, perhaps more from style.css should be moved into this file */

	h1.title, h1.entry-title, h2.title, h2.entry-title
{
	font-size: 22px; }

	h1.title a, h1.entry-title a, h2.title a, h2.entry-title a
{
	text-decoration: none; }

	.comments-link-top a
{
	font-size: 12px;
	float: right; }

	.entry-meta
{
	color: #999;
	font-size: 12px;
	margin: 20px 0; }

	.post
{
	padding-bottom: 20px; }

	a.inset-link
{
	background: #999;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 1px 1px 1px #666;
	-moz-box-shadow: inset 1px 1px 1px #666;
	box-shadow: inset 1px 1px 1px #666;
	color: #FFF;
	display: inline-block;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(0,0,0,0.3);
	padding: 6px 8px; }

	#sidebar ul
{
	list-style: none; }

	#sidebar li
{
	padding: 0;
	margin: 0; }
