/*
Theme Name: qunitjs-com
Template: jquery
*/

a {
	color: #390f39;
}

.blurb {
	font-size: 1.1em;
}

.download-box {
	background-color: #eee;
	padding: 10px 20px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.download-box .copyable {
	width: 20em;
	max-width: 100%;
	padding: 2px 5px;
	border: 1px solid #e4e4e4;
	border-radius: 5px;
	text-align: center;
	font-family: monospace;
}
